@use 'font.scss';

.art {
	&__container {
		padding-bottom: 125px;
	}
	&__subtitle {
		@include font.subtitle;
		margin-top: 135px;
		max-width: 870px;
	}
	&__content {
		margin-top: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 18px;
		row-gap: 18px;
	}
	&__content-text {
		@include font.text;
	}
}
