@use 'font.scss';

.invite {
	background-color: $black-color;
	height: 1000px;

	&__container {
		display: flex;
		position: relative;
	}
	&__content {
		text-align: center;
		margin: auto;
		max-width: 700px;
	}
	&__logo {
		position: absolute;
		margin-top: 40px;
		left: 0;
	}
	&__content-subtitle {
		@include font.subtitle-secondary;
	}
	&__content-text {
		@include font.text;
		margin-top: 50px;
		text-wrap: balance;
		color: #a1a1a1;
	}
	&__content-button {
		@include font.button;
		display: inline-block;
		margin-top: 55px;
	}
	&__img {
		width: 100%;
		object-fit: cover;
	}
	&__content-slide {
		display: block;
		margin-top: 83px;
	}
}
